<h1>All my orders:</h1>
<% @orders.each do |order| %>
  <div class="row-md-12">
    <div class="well">
      <h1><a href="/orders/<%= order.id %>">Order#<%= order.id %></a></h1>
      <h3>Total: $<%= order.total %></h3>
      <sub style="float:right"><b>Ordered: </b> <%= order.created_at.strftime("%I:%M%p -- %m/%d/%Y") %></sub>
    </div>
  </div>
<% end %>