// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-image {
  width: 100%;
  height: 250px;
}

.row-md-12 .well {
  min-height: 100px;
}