// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products {
  height: 100px;
  width: 100px;
}
.products:hover{
  height:250px;
  width:250px;
  border:solid;
  border-width:3px;
}
.line_break {
  padding:0px;
  margin:0px;
}
.products_container{
  margin-left:10px;
  margin-right:10px;

}
.show-page-img {
  width:500px;
  height:500px;
  border:solid;
  border-width:3px;
}

.new_product_button {
  height: 75px;
  width: 500px;
  margin: 10px;
  border: solid;
  border-width: 3px;
}
.prouct_container{
  border: solid;
  border-width: 3px;
}